.container {
    width: 80%;
    margin: 80px auto; 
    box-shadow: 2px 2px 10px rgb(200, 200, 200);
    border-radius: 6px;
    padding: 10px;
  }
  
  .heading {
    font-size: 50px;
    font-weight: bold;
    margin: 32px;
    color: #333;
    text-align: center;
  }
  
  .branch-list {
    list-style: none;
    padding: 0;
  }
  
  .branch-item {
    font-size: 24px;
    margin-bottom: 16px;
    color: #666;
    display: flex;
    align-items: center;
  }
  
  .branch-item::before {
    content: '▹';
    margin-right: 8px;
    color: #999;
  }
  
  .branch-item:hover {
    color: #ff7f50;
    cursor: pointer;
  }
  
  .branch-item:hover::before {
    color: #ff7f50;
  }
  
  .branch-item:nth-child(even) {
    transform: translateX(10px);
  }
  
  .branch-item:nth-child(odd) {
    transform: translateX(-10px);
  }
  
  .branch-item:nth-child(even)::before {
    transform: rotate(-45deg);
  }
  
  .branch-item:nth-child(odd)::before {
    transform: rotate(45deg);
  }
  