.home{
    margin: 10px;
}

.heading{
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0px;
}

.input-box{
    margin-left: 10px;
    padding: 5px 10px;
    width: 20rem;
}

.search-btn{
    background-color: #98FB98;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
}

.student-details{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.student-details-box{
    margin-top: 20px;
}

.label{
    width: 150px;
}

.details-tag{
    display: flex;
    align-items: center;
    margin: 5px 10px;
}

.student-details-input, .student-details-input:focus, .student-details-input:hover{
    margin-left: 10px;
    width: 300px;
    padding: 5px 10px;
    background-color: #A3A3A3;
    border: none;
    border-radius: 5px;
    outline-color: #A3A3A3;
}

.middle{
    margin-top: 30px;
}

.bottom{
    margin-top: 30px;
}

.student-details-box{
    background-color: #C0C0C0;
    border-radius: 10px;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
}

.student-profile{
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.student-profile > img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 10px;
}

.student-profile > button{
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.profile-picture-upload{
    margin: 10px 0px;
}